
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import 'ode_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
 background-color: white;
box-shadow: 0 2px 4p white(0, 0, 0, 0.04);
}
//custom css
@import 'custom';
